/* base overrides */
* {
  box-sizing: border-box;
}

button {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  /*background-color: #2c8898;*/
  background-color: #393B47;
  border: solid 1px #393B47;
  color: #f9f9f9;
  border-radius: 1px;
  /*border: 1px solid #2c8898;*/
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  /*background-color: rgba(44, 136, 152, 0.55);*/
  background-color: rgba(57, 59, 71, 0.75);
  /*border-color: rgba(44, 136, 152, 0.55);*/
  border-color: rgba(57, 59, 71, 0.75);
  /*color: #f9f9f9;*/
  color: #F5F2EB;
  outline: 0;
}

body {
  /*background: rgba(191, 193, 192, 0.13);*/
  background: #FAF8F4;
  width: 100%;
  margin: 40px auto;
  padding: 0;
  font-family: serif;
  color: #4a4a4a;
  line-height: 1.618;
  max-width: 54em;
}

@media (min-width: 768px) {
  body {
    margin: 50px auto;
  }
}

/* utils */
.display-none {
  display:none;
}

.heading {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.display-inline-block {
  display: inline-block;
}

.horizontal-divider {
  /*background: rgba(191, 193, 192, 0.5);*/
  background: #E3DED1;
  height: 1px;
  display:block;
  margin-bottom: 14px;
}

.background-section {
  background: #fff;
}

.padded-section {
  padding-bottom: 15px;
}

/* sections */

.main-container {
  padding: 15px 20px;
  position: relative;
  overflow: hidden;
  min-height: 500px;
}
@media(min-width: 768px) {
  .main-container {
    border: 1px solid #F9F9F9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  }
}

.loader-container {
  min-height: 300px;
}
